*.class
*.log

.DS_Store
*/.DS_Store

logs/*

.classpath
.settings

docker/spark-*
docker/logs/*.log
docker/logs/*.log.*
docker/data/dump.rdb
docker/data/*.json
docker/data/*.parquet
docker/data/*.csv
docker/data/recommendations/*

docker/data/__MACOSX
docker/data/__MACOSX/*


